body{
    background-color: black;
}
h1, h2 {
    font-family: "JetBrains Mono", monospace;
    color: greenyellow;
    text-align: center;
    vertical-align: center;
    padding: 5px;
}
h3 {
    color: #f63535;
}
body {
    font-family: "JetBrains Mono", monospace;
    color: white;
    text-align: center;
    vertical-align: center;
    padding: 15px;
}
body:link {
    color: lightgray;
    font-color: white;
}
links:link:hover {
    color: gray;
}
b:link {
    color: red;
}
a {
    color: lightgray;
    text-decoration: none;
}
links {
    padding: 10px;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 15vh; /* Adjust height if necessary */
}

.skills-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.skill-icon {
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.skill-icon:hover {
    filter: grayscale(0%);
}
